/* Miscelaneo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Rosario', Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
}

section,
nav,
article,
aside,
footer {
  display: block;
}

img {
  max-width: 100%
}

h1,
h2 {
  font-family: 'Bitter', Baskerville, serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

.lectura h2,
aside h2,
aside h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

a {
  color: #00AE68;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

p a {
  text-decoration: underline;
}

a:hover {
  color: #FF4C00;
  text-decoration: underline;
}

.contenedor {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
}

.fila {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
}

.lectura {
  background: #ffffff;
  color: #000000;
  padding: 25px;
}

/* Cabezal */
#cabezal {
  background-color: #1e1e1e;
  border-top: 2px dotted #000000;
  padding: 15px 0;
}

/** Logo **/
#logo{
  text-align: left;
}

#logo a:hover {
  text-decoration: none;
}

#logo .logo-imagen{
  height: 40px;
}

.logo-texto,
.logo-imagen {
  display: inline-block;
  vertical-align: middle;
}

.logo-texto {
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  margin-left: 10px;
}

/** Menu **/
#menu ul li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 236px;
}

#menu ul li a {
  color: #ffffff;
  font-size: 16px;
}

/** Buscador **/
#buscador form {
  float: right;
}

#buscador form input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 5px;
}

/* Banner */

#banner{
  width: 100%;
  height: 450px;
  padding: 350px 0 0;
  opacity: 0.8;
  background: url("../imagenes/banners/banner2.jpg") center -450px no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 5px solid #d3d3d3;
  text-align: center;
}

#banner .logo-texto {
  background-color: #00AE68;
  border-bottom: 10px solid #00693F;
  color: #ffffff;
  display: inline-block;
  font-size: 32px;
  padding: 10px 150px;
  text-align: center;
}

/* Discos*/
#discos {
  padding: 60px 0;
  background-color: #333333;
}

.disco {
  float: left;
  margin: 0.5%;
  width: 24%;
  overflow: hidden;
  background-color: #1e1e1e;
  color: white;
  padding-bottom: 15px;
}

.disco-titulo{
  font-size: 18px;
  font-weight: normal;
  height: 50px;
  margin-bottom: 5px;
}

.disco-titulo,
.disco-resumen {
  padding: 5px 15px 0;
}

/* Media */
#media{
  color: white;
  font-size: 30px;
  padding: 180px 0;
  background: url("../imagenes/banners/adtrbanner.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#media .contenedor {
  background: #000000;
  padding: 15px;
}

#media .media-link {
  font-family: 'Shadows Into Light', cursive;
}

/* Seleccionados */
#seleccionados {
  background: #1e1e1e;
  padding: 20px 0;
}

/** Disco elegido **/
#disco-elegido{
  margin-top:  30px;
  margin-bottom: 50px;
  overflow: hidden;
}

#disco-elegido figure,
#disco-elegido .lectura{
  float: left;
  width: 40%;
  height: 450px;
}

#disco-elegido section ul li img{
  width: 100px;
}

#disco-elegido aside{
  background-color: #0a0a0a;
  float: right;
  padding: 25px;
  width: 20%;
  height: 400px;
}

#disco-elegido aside ol {
  padding-left: 20px;
}

/* Pie pagina */
#pie-pagina {
  background-color: #0a0a0a;
  padding: 20px 0;
  overflow: hidden;
}

#informacion {
  float: left;
}

#informacion .logo-imagen,
#informacion section {
  display: inline-block;
  vertical-align: top;
}

#informacion .logo-imagen {
  height: 20px;
  margin-right: 10px;
}

#redes {
  height: 50px;
  float: right;
}

.links-sociales li {
  width: 25px;
  display: inline-block;
  float: right;
  margin: 0  5px;
  vertical-align: middle;
}

.links-sociales li img {
  display: block;
  width: 30px;
}

.links-sociales a {
  border-radius: 50%;
  border: 2px solid #0a0a0a;
  display: block;
  height: 30px;
  width: 30px;
}

#redes ul li a:hover {
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/* Pagina - Disco */
/* > Disco Articulo < */
#disco-articulo-derecha,
#disco-articulo-izquierda {
  float: left;
}

#disco-articulo-izquierda {
  width: 80%;
  padding-bottom: 30px;
}

#disco-articulo-derecha {
  width: 20%;
  background-color: #333333;
  padding: 15px;
}

#disco-articulo #banner {
  background-image: url('../imagenes/banners/44banner.jpg');
}

#disco-portada-datos {
  float: left;
  width: 25%;
}

#datos {
  background-color: #0a0a0a;
  padding: 25px;
}

#disco-articulo .lectura {
  float: left;
  width: 75%;
  border-left: 1px solid;
}

#lista-canciones {
  border-top: 1px solid #000000;
  margin-top: 35px;
  padding: 15px 0;
}

#lista-canciones li {
  border-bottom: 1px solid #cccccc;
  margin-left: 20px;
  max-width: 300px;
  padding: 5px;
}

/* Nuevo */
#nuevo {
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  padding: 80px 0;
}

#nuevo h2 {
  font-size: 32px;
}

#nuevo-portada {
  width: 30%;
  margin-right: 20px;
  float: left;
}

#nuevo footer {
  padding-top: 20px;
  clear: both;
}

#nuevo footer .links-sociales {
  float: left;
}

/*Disco Rankeados*/
#raninkg-discos h2{
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#lista-discos li{
  margin: 0 0 15px 20px;
}

#lista-discos li a {
  display: block;
  max-width: 130px;
}

#lista-discos figure {
  max-width: 50px;
  margin-right: 10px;
}

#lista-discos figure,
#lista-discos .disco-rankeado-titulo {
  float: left;
}

.disco-rankeado {
  overflow: hidden;
}
